---
title: Oops, Page Not Found!
meta_desc: Oh no! You have requested a page that does not exist.
url: https://dre05119071.xyz
img: /images/home/hero1.jpg
alt: DRE, code-generated art and design
cardType: summary_large_image
layout: main.njk
permalink: 404.html
ignore: true
---

<div class="four-oh-four">
    <h1><span>💀</span> {{ title }}</h1>
    <p> {{ meta_desc}} This tends to happen when someone shares a broken or mistyped link.</p>
    <ul>
        <li><a href="/">Back to the home page</a></li>
        <li>Or grap your 🎮</li>
    </ul>
</div>