---
title: About DRE
meta_desc: About DRE, code-generated art and design
url: https://dre05119071.xyz/about
img: /images/benches.jpg
alt: Fire walk with me
eleventyNavigation:
  key: About
  order: 3
heading: About
permalink: "/about/"
layout: main.njk
---
<!-- this is the about page -->

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p><!-- {{ site.author.firstName }} -->{{ site.author.lastName}}. code-generated art and design</p>
  <h3>See what no one has seen before.</h3>
  <p>Si le titre du NFT fait allusion à une formule informatique, l'image quant à elle, réalisée à l'aide du logiciel d'intelligence artificielle Midjourney fait référence à des thématiques de la peinture classique et contemporaine dont le Ready Made.</p>
  <p>Outside Ely something spooked us. i can no longer say what it was, but i remember we thought a patrol car was following, and the near empty bottle of whisky went into the back seat, tucked under sleeping Red. The Mountains ahead, black-shadows on pocked canvas of stars, streaks, and i was a touch wobbly. Tank cut north, nearly violently, onto 93 along the ridge, and then onto 93 alternate towards Salt Lake.</p>
  <p>A visual story of nostalgia. In the 1980s, teenagers spent a lot of time running around in the dark. There was a gateway to coming of age activities, the game of Manhunt... with moments of high energy, and of stillness. Played in the woods behind backyards at the edge of urban sprawl. This synthography collection reflects the memories of the last days of innocence.</p>
  <h3 id="harass-me">If you must, <a href="mailto:{{ site.author.email }}">harass me</a>.</h3>
  
  <!-- 
  <p>You can find me around the web at the following places:</p>
  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>
  -->
  <!-- site.socials is an object in site.json in _data -->
<!--
  <h2 id="contact-me">Contact</h2>
  <p>Feel free to reach out to me by email or on social media. I usually take 24-48hrs to respond. If you think my work aligns with your projects needs, I'd love to hear from you!</p>
  
  <form class="contact-form" onsubmit="sendMail()">
      <label for="name">What's Your Name?</label>
      <input type="text" name="name" id="name" required>
      <label class="form-label" for="subject">Subject</label>
      <input class="email-subject" type="text" name="subject" id="subject" required>
      <label class="form-label" for="message">Message</label>
      <textarea class="email-msg" rows="5" cols="30" name="message" id="message" required></textarea>
      <button type="submit" class="reach-me button submit-contact">Message me</button>
  </form>
  -->
</div>