---
title: About DRE
meta_desc: About DRE, code-generated art and design
url: https://dre05119071.xyz/about
img: /images/home/hero1.jpg
alt: DRE, code-generated art and design
eleventyNavigation:
  key: About
  order: 3
heading: About DRE
permalink: "/about/"
layout: main.njk
---
<!-- this is the about page -->

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <h3><!-- {{ site.author.firstName }} -->{{ site.author.lastName}}. code-generated art and design</h3>

  <!-- <h3>From fire to crystal via the body of light</h3> -->

  <p>DRE is an exploration of colors and shapes. A playground where logic meets coincidence. A suspicion of possibilities. An intimation of the unseen.</p>

<p>DRE is a place for the creation of collections of graphics. Each collection explores a theme. Every week, collection items are made available on places like <a href="https://opensea.io/dre05119071">OpenSea</a> as non-fungible tokens. Collections tend to consist of 100 images. Each image is a JPG of 1000 x 1000 pixels.</p>

<p>The graphics are generated with Python scripts as two-dimensional images. The source code is changed after the image is drawn. Each image is therefore unique, irreplaceable, and can never be reproduced.</p>

<p>For images in other sizes and formats, graphics outside of collections, moving images, special projects, or to acquire images directly, please <a href="mailto:{{ site.author.email }}">contact DRE</a>.</p>

<h3>March 22, 2023</h3>
<p>Today the site was updated.</p>
<ul>
  <li>Seven new collections were added, each with 100 images</li>
  <li>The gallery page was reworked for a better experience on mobile devices and a more comprehensive overivew of DRE's current activities.</li>
</ul>

<h3 id="contact-dre">Move your mind, <a href="mailto:{{ site.author.email }}">contact DRE</a>.</h3>
  
  <!-- 
  <p>You can find me around the web at the following places:</p>
  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>
  -->
  <!-- site.socials is an object in site.json in _data -->
<!--
  <h2 id="contact-me">Contact</h2>
  <p>Feel free to reach out to me by email or on social media.</p>
  
  <form class="contact-form" onsubmit="sendMail()">
      <label for="name">What's Your Name?</label>
      <input type="text" name="name" id="name" required>
      <label class="form-label" for="subject">Subject</label>
      <input class="email-subject" type="text" name="subject" id="subject" required>
      <label class="form-label" for="message">Message</label>
      <textarea class="email-msg" rows="5" cols="30" name="message" id="message" required></textarea>
      <button type="submit" class="reach-me button submit-contact">Message me</button>
  </form>
  -->


</div>