---
title: Collections by DRE
eleventyNavigation:
  key: Collections
  order: 2
layout: main.njk
permalink: "/collections/"
meta_desc: the DRE collections.
url: https://dre05119071.xyz/collections
img: /images/benches.jpg
alt: Fire walk with me
cardType: summary_large_image
---

<h1 class="ft-h1">{{ title }}</h1>

{% include "partials/drecolls-gallery.njk" %}