---
pagination:
    data: gallery
    size: 1
    alias: gallery
permalink: "collections/{{ gallery.title | slug }}/"
layout: main.njk
meta_desc: a collection by ERNNEST
url: https://ernestmakes.art/collections/{{ gallery.title | slug }}/
img: /images/home/hero1.jpg
alt: ERNEST code-generated art and design
cardType: summary_large_image
heading: a collection by ERNEST
description: ERNEST creates collections of images. Each collection is an exploration of colors and shapes. A playground where logic meets chance. 
description_2: Every month, one or more collections are made available. A collection may contain up to a 100 images. An image may be moving or still. Images come in different formats and sizes.
---
<!-- this is the page that is generated for each individual collection -->
<!-- there is a page per collection, displaying some metadata for that collection -->
<!-- these pages sit below the /collections/ page -->

<div class="page-banner">
<h1 class="ft-h1">{{ gallery.title }}</h1>
<p>{{ gallery.title }} is a collection by ERNEST</p>
<p>{{ gallery.alt }}</p>
<p>{{ description }}</p>
<!-- <p>{{ description_2 }}</p> -->
<h3>{{ gallery.credit }}</h3>
<p>Collection created on {{ gallery.date }}. At request, it can be made available on <a href="{{ site.platforms.opensea }}"><img src="/favicon_data/buy-it-on-opensea.svg" alt="OpenSea" width="24" height="24" style="display: inline"></img></a> or similar platforms.</p>
</div>

{% include "partials/image-gallery.njk" %}

