---
pagination:
    data: drecolls
    size: 1
    alias: drecolls
permalink: "collections/{{ drecolls.title | slug }}/"
layout: main.njk
meta_desc: a collection by DRE
url: https://dre05119071.xyz/collections/{{ drecolls.title | slug }}/
img: https://dre05119071.xyz/images/home/hero1.jpg
alt: DRE, code-generated art and design
cardType: summary_large_image
heading: a collection by DRE
description: DRE creates collections of images. Each collection is an exploration of colors and shapes. A playground where logic meets coincidence. 
description_2: Every week, one or more collections are made available. Each collections consists of 100 images. Each image is a jpg of 1000 x 1000 pixels.
---
<!-- this is the page that is generated for each individual collection -->
<!-- there is a page per collection, displaying some metadata for that collection -->
<!-- these pages sit below the /collections/ page -->

<div class="page-banner">
<h1 class="ft-h1">{{ drecolls.title }}</h1>
<p>{{ drecolls.title }} is a collection by DRE.</p>
<p>{{ drecolls.alt }}</p>
<p>{{ description }}</p>
<p>{{ description_2 }}</p>
<p>{{ drecolls.credit }} on {{ drecolls.date }}, this collection is available on <a href="{{ site.platforms.opensea }}"><img src="/favicon_data/buy-it-on-opensea.svg" alt="OpenSea" width="24" height="24" style="display: inline"></img></a>.</p>
</div>

{% include "partials/image-gallery.njk" %}

