---
pagination:
    data: drecolls
    size: 1
    alias: drecolls
permalink: "collections/{{ drecolls.title | slug }}/"
layout: main.njk
meta_desc: one of the DRE collections.
url: https://dre05119071.xyz/collections/{{ drecolls.title | slug }}/
img: /images/benches.jpg
alt: Fire walk with me
cardType: summary_large_image
heading: pindakaas
description: "Hallucinated territories don’t exist. These images show destructive machines, frozen in pixels as angular blades, slits, gratings; grids of depth and shadow on undulating abstract forms. But the machines have been bound by LIA’s skill. Approachable, their threats are left empty. Neutered violence sleeps over different terroir and times, as beauty overcomes terror in the inevitable decay of power. Tomorrow only skeletons remain: memories of past beliefs; warnings against possible resurgence."
---
<!-- this is the page that is generated for each individual collection -->
<!-- there is a page per collection, displaying some metadata for that collection -->
<!-- these pages sit below the /collections/ page -->

<div class="page-banner">
<h1 class="ft-h1">{{ drecolls.title }}</h1>
<p>{{ drecolls.title }} is a collection by DRE.</p>
<p>{{ drecolls.alt }}</p>
 <p>{{ description }}</p>
<p>{{ drecolls.credit }} on {{ drecolls.date }}, this collection is available on <a href="{{ site.platforms.opensea }}"><img src="/favicon_data/buy-it-on-opensea.svg" alt="OpenSea" width="24" height="24" style="display: inline"></img></a>.</p>
</div>

{% include "partials/image-gallery.njk" %}

