---
title: Gallery by DRE
eleventyNavigation:
  key: Gallery
  order: 1
layout: main.njk
permalink: "/gallery/"
meta_desc: Specials, one-offs, and work in progress by DRE
meta_desc_2: Experiments and work in progress
url: https://dre05119071.xyz/gallery
img: /images/home/hero1.jpg
alt: DRE, code-generated art and design
cardType: summary_large_image
---
<!-- this is the gallery page -->

<h1 class="ft-h1">{{ title }}</h1>

<p class="ft-h1">{{ meta_desc_2 }}</p>

<!-- 
  vergeet niet het eerste haakje weer toe te voegen bij herbruik
% include "partials/feature-gallery.njk" %}
-->

<h1 class="ft-h1">Some images from the collections</h1>
<!-- Responsive Photo Grid, 4 cols, 7 rows -->
<div class="row"> 
  <div class="column">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
  </div>
  <div class="column">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
  </div>  
  <div class="column">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
  </div>
  <div class="column">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
    <img src="" class="random-image" alt="Random Image" sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
  </div>
  <script>
    var imgElements = document.getElementsByClassName("random-image");
    for (var i = 0; i < imgElements.length; i++) {
      var randomIndex = Math.floor(Math.random() * 50) + 1;
      imgElements[i].src = "/images/gallery/RespPhotoGrid/" + [randomIndex] + ".jpeg";
      //imgElements[i].src = "/images/gallery/RespPhotoGrid" + [randomIndex] + "-" + i + ".jpeg";
    }
    </script>
</div>

<h1 class="ft-h1">Some other things I'm working on</h1>
<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="/images/gallery/OtherActs/flags.jpeg" alt="Mountains"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
      <h3>Emojis</h3>
      <p>They're Unicode, but different.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/images/gallery/OtherActs/53.gif" alt="golden ball on silver background"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
      <h3>Movement</h3>
      <p>A golden ball on a silver background.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/images/gallery/OtherActs/brill-like-marquee.gif" class="marquee" alt="Random Image"alt="Nature"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
      <h3>ascii</h3>
      <p>Messing with a marquee.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="/images/gallery/OtherActs/Vera_Molnar_rotating_rects.jpeg" alt="rotating rectangles"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1024" height="768">
      <h3>Inspiration</h3>
      <p>A take on Vera Molnar's <em>rotating rectangles</em>.</p>
    </div>
  </div>
</div>
<!-- END GRID -->

<h1 class="ft-h1">Something I'm proud of</h1>
<div class="content1">
  <img src="/images/gallery/orbs-2-1-20230124-171640.jpeg" alt="Something I'm proud of"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="768" height="768">
  <h3 class="ft-h1">orbs-2-1-20230124-171640.jpeg</h3>
  <p class="ft-h1">Hopefully you will see this in an <em>Orbs 2</em> collection.</p>
</div>

<h1 class="ft-h1">Contact me</h1>
<div class="content1">
  <img src="/images/gallery/contact-me.gif" alt="contact-me"  sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw" loading="lazy" class="showcase-img" width="1200" height="800">
  <h3 class="ft-h1">Contact me</h3>
  <p class="ft-h1">I am <a href="/about/">available</a> for comissioned art and design.</p>          
</div>
