---
title: Gallery by DRE
eleventyNavigation:
  key: Gallery
  order: 1
layout: main.njk
permalink: "/gallery/"
meta_desc: Specials, one-offs, and work in progress by DRE
meta_desc_2: Experiments and trials
url: https://dre05119071.xyz/gallery
img: https://dre05119071.xyz/images/home/hero1.jpg
alt: DRE, code-generated art and design
cardType: summary_large_image
---
<!-- this is the gallery page -->

<h1 class="ft-h1">{{ title }}</h1>

<p class="ft-h1">{{ meta_desc_2 }}</p>

<!-- 
  vergeet niet het eerste haakje weer toe te voegen bij herbruik
% include "partials/feature-gallery.njk" %}
-->

<!-- this is section 1. The bg images are in the css -->

<div class="s1">

    <div class="bgimg-1-1 s1-child"></div>

    <div class="s1-verticle s1-child">
        <div class="s1-text">
            <h3>that the body of light</h3>
            <p>come forth from the body of fire</p>
        </div>
    </div>

    <div class="bgimg-1-2 s1-child"></div>

    <div class="s1-verticle s1-child">
        <div class="s1-text">
            <h3>And that your eyes</h3>
            <p>come to the surface from the deep wherein they were sunken</p>
        </div>
    </div>

    <div class="bgimg-1-3 s1-child"></div>

    <div  class="s1-verticle s1-child">
        <div class="s1-text">
            <h3>That your eyes come forth</h3>
            <p>from their caves &amp; light then as the holly-leaf</p>
        </div>
    </div>

    <div class="bgimg-1-4 s1-child"></div>

</div>

<h2 class="ft-h1">Experiment 1</h2>
<p class="ft-h1">Skulking in the deep</p>

<!-- this is section 2. The bg images are in the css -->

<div class="s2">
<div class="s2-scrolling-wrapper">
  <div class="bg-image bgimg-2-1"></div>
  <div class="bg-image bgimg-2-2"></div>
  <div class="bg-image bgimg-2-3"></div>
  <div class="bg-image bgimg-2-4"></div>
</div>

<div class="s2-envelope">
  <div class="s2-text">DRE</div>
  <div class="s2-hide"><a href="https://dre05119071.xyz" style="color:white;">https://dre05119071.xyz</a></div> 
</div>

</div>

<h2 class="ft-h1">Experiment 2</h2>
<p class="ft-h1">Growth</p>

<!-- this is section 3  -->

<!-- 1 -->
<div class="s3-container">
<div class="s3-bg">
  <div class="s3-image"><img src="/images/gallery/img-3-1.jpg"></img></div>
  <div class="s3-text">plunging</div>
</div>
<div class="s3-bg">
  <div class="s3-image"><img src="/images/gallery/img-3-2.jpg"></img></div>
  <div class="s3-text">diving</div>
</div>
<div class="s3-bg">
  <div class="s3-image"><img src="/images/gallery/img-3-3.jpg"></img></div>
  <div class="s3-text">floating</div>
</div>
<div class="s3-bg">
  <div class="s3-image"><img src="/images/gallery/img-3-4.jpg"></img></div>
  <div class="s3-text">dipping</div>
</div>
</div>
<!-- 2 -->
<div class="s3-container">
  <div class="s3-bg">
    <div class="s3-image"><img src="/images/gallery/img-3-5.jpg"></img></div>
    <div class="s3-text">gliding</div>
  </div>
  <div class="s3-bg">
    <div class="s3-image"><img src="/images/gallery/img-3-6.jpg"></img></div>
    <div class="s3-text">submerging</div>
  </div>
  <div class="s3-bg">
    <div class="s3-image"><img src="/images/gallery/img-3-7.jpg"></img></div>
    <div class="s3-text">paddling</div>
  </div>
  <div class="s3-bg">
    <div class="s3-image"><img src="/images/gallery/img-3-8.jpg"></img></div>
    <div class="s3-text">wading</div>
  </div>
  </div>

<h2 class="ft-h1">Experiment 3</h2>
<p class="ft-h1">Schools</p>

