---
pagination:
    data: images
    size: 1
    alias: image
permalink: "/collections/{{ image.gallery | slug }}/{{ image.src }}/"
url: https://dre05119071.xyz/{{ image.gallery | slug }}/{{ image.src }}/"
cardType: summary_large_image
---
<!-- this is the image page -->
<!-- this is what you see when you click on an image on a collection page (within /collections/) -->

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% metagen 
            title=image.title,
            desc=image.title + " " + site.pageMetadata.featured.content,
            url=url + "/collections/" + image.gallery | slug + "/" + image.src,
            img=url + image.imgDir + image.src,
            img_alt=image.alt,
            twitter_card_type=cardType,
            twitter_handle=site.author.twitterHandle,
            name=site.author.firstName + " " + site.author.lastName,
            comments=true
        %}
        <meta name="theme-color" content="#fff">
        <meta name="background-color" content="#fff">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        <link rel="manifest" href="/favicon_data/site.webmanifest">
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "partials/nav.njk" %}
        <main id="main" class="main-container">
            <div class="featured-img">
                <div class="image-container">
                    {% if image.src.endsWith('.jpeg') %}
  <picture>
    <source
      type="image/jpeg"
      class="showcase-img"
        srcset="{{ image.imgDir }}{{ image.src }} 1000w"
    >
    <img src="{{ image.imgDir }}{{ image.src }}" alt="{{ image.alt }}" class="showcase-img" width="1000" height="1000">
  </picture>
{% endif %}
{% if image.src.endsWith('.webp') %}
  <picture>
    <source
      type="image/webp"
      class="moving-img"
      alt="{{ image.alt }}"
      srcset="{{ image.imgDir }}{{ image.src }} 640w"
    >
    <img src="{{ image.imgDir }}{{ image.src }}" alt="{{ image.alt }}" class="moving-img" width="640" height="640">
  </picture>
{% endif %}
                    <div class="image-description">
                        <h1 class="h2">{{ image.title }}</h1>
                        <h3>Part of <a href="/collections/{{ image.gallery | slug }}">{{ image.gallery }}</a></h3>
                        <p>{{ image.credit }}. Available on <a class="credit" href="{{ image.linkToAuthor }}">OpenSea</a></p>
                    </div>
                    <div class="prev-next">
                        {% if pagination.href.previous %}
                            <a class="prev" href="{{ pagination.href.previous }}"><span class="lt">&lt;</span> Prev</a>
                        {% endif %}
                        {% if pagination.href.next %}
                            {% if not pagination.href.previous %}
                            <a class="next" style="margin-left: auto; margin-right: 0;" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                            {% else %}
                            <a class="next" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
