---
eleventyNavigation:
  key: Home
  order: 0
heading: DRE
description: DRE, code-generated art and design
description_2: An exploration of colors and shapes. A playground where logic meets chance.
layout: main.njk
title: DRE, code-generated art and design
meta_desc: DRE, code-generated art and design
url: https://dre05119071.xyz
img: /images/home/hero1.jpg
alt: DRE, code-generated art and design
cardType: summary_large_image
---
<!-- this is the home page -->

<div class="bgimg-1">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="/gallery/">Gallery by DRE</a></span>
  </div>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="/collections/">Collections by DRE</a></span>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">{{ description_2 }}</span>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="/about/">About DRE, code-generated art and design</a></span>
  </div>
</div>

<!-- 
<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
  <p>{{ description_2 }}</p>
</div>
-->

<!--
  vergeet niet het eerste haakje weer toe te voegen bij herbruik
% include "partials/home-gallery.njk" %}
-->
