<!-- This is the "gallery" on the collections page-->
<div class="gallery">
    <ul class="gallery-list">
        <!-- warning! any filename containing the string "collections" is forbidden by Eleventy -->
        {% for collection in gallery %}
        <li class="gallery-item">
            <div class="image-block">
                <a href="{{ collection.title | slug }}" aria-label="Gallery collection {{ collection.title }}">
                <picture>
                    <source
      type="image/jpeg"
      class="showcase-img"
      srcset="{{ collection.imgDir }}{{ collection.src }} 640w"
    >
    <img src="{{ collection.imgDir }}{{ collection.src }}" alt="{{ collection.alt }}" class="gallery-photo" width="640" height="640">
                </picture>
                </a>
                <div class="block-details">
                    <p>{{ collection.date }}</p>
                    <h2><a href="/collections/{{ collection.title | slug }}">{{ collection.title }}</a></h2>
                    <p>{{ collection.alt }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
