<!-- This is the "gallery" on the Gallery page-->
<div class="gallery">
    <ul class="gallery-list">
        {% for image in gallery %}
        <li class="gallery-item">
            <div class="image-block">
                <a href="{{ image.title | slug }}" aria-label="Gallery image {{ image.title }}">
                <picture>
               <source
      type="image/jpeg"
      class="showcase-img"
      srcset="{{ image.imgDir }}{{ image.src }} 768w"
    >
    <img src="{{ image.imgDir }}{{ image.src }}" alt="{{ image.alt }}" class="showcase-img" width="768" height="600">
                </picture>
                </a>
                <div class="block-details">
                    <p>{{ image.date }}</p>
                    <h2><a href="/gallery/{{ image.title | slug }}">{{ image.title }}</a></h2>
                    <p>{{ image.alt }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
