<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} <em>by</em> <a href="/about/">{{ site.author.firstName }} {{ site.author.lastName }}</a>. <em>Built with <a href="https://www.11ty.dev/">🖤</a></em>.</p>
            <ul class="footer-links">
                <li class="footer-link">
                    <!-- <i class="fa-solid fa-hexagon-vertical-nft"></i> later -->
                    <a href="{{ site.platforms.opensea }}">
                        <img src="/favicon_data/buy-it-on-opensea.svg" alt="OpenSea"  width="24" height="24"></img>
                    </a>
                </li>
                <li class="footer-link">
                    <!-- <i class="fa-brands fa-instagram"></i> later -->
                    <a href="{{ site.socials.instagram }}">
                        <img src="/favicon_data/instagram.svg" alt="Instagram"  width="24" height="24"></img>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>