<!-- This is the "gallery" on the homepage, which is rather lacklustre.-->
<!-- We need 1) the collection titles displayed over the images 2) automatic resizing of the grid 3) large images or some sort of lightbox -->
<div class="gallery">
  <ul class="image-grid">
    {% for image in gallery %}
    <li class="image-container">
        <a href="/gallery/{{ image.title | slug }}" aria-label="Gallery image {{ image.title }}">
        <picture>
            <source
      type="image/jpeg"
      class="showcase-img"
      srcset="{{ image.imgDir }}{{ image.src }} 640w"
    >
    <img src="{{ image.imgDir }}{{ image.src }}" alt="{{ image.alt }}" class="showcase-img" width="640" height="400">
        </picture>
        </a>
    </li>
    {% endfor %}
  </ul>
</div>